body {
    height: 100vh;
    background-color: green;
    margin: 0;
    padding: 0;
}

#board {
    margin: 0;
    padding: 0;
} 

.small {
    animation: counter-rotation 2.5s infinite linear;
    transform-origin: 100.136px 225.345px;
}
.medium {
    animation: rotation 3.75s infinite linear;
    transform-origin: 254.675px 379.447px;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

@keyframes counter-rotation {
    from {transform: rotate(359deg);}
    to   {transform: rotate(0deg);}
}
